name: CI
# Controls when the action will run. Triggers the workflow on push
# events but only for the master branch
on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest # The type of runner that the job will run on
    steps: # Steps represent a sequence of tasks that will be executed as part of the job
    - uses: actions/checkout@v2 # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it

    - name: Enter data to .env file
      run: |
        echo GATSBY_FLOTIQ_BASE_URL=https://api.flotiq.com >> .env
        echo GATSBY_FLOTIQ_API_KEY="$GATSBY_FLOTIQ_API_KEY" >> .env
      shell: bash
      env:
        GATSBY_FLOTIQ_API_KEY: ${{ secrets.GATSBY_FLOTIQ_API_KEY }}

    - uses: actions/setup-node@v1
      with:
        node-version: '12'
    - run: npm install

    - name: Gatsby
      run: |
        npm install -g gatsby-cli
        gatsby clean
        gatsby build --prefix-paths
        rm -rf public/blog
        mkdir -p public/blog
        find public/ -maxdepth 1 -mindepth 1 -not -name blog -exec mv '{}' public/blog/ \;

    - name: Cloudflare
      run: |
        npm install -g @cloudflare/wrangler
        wrangler init --site flotiq-blog
        sed -i 's+account_id = ""+account_id = '"'"$ACCOUNT_ID"'"'+g' wrangler.toml
        sed -i 's+bucket = ""+bucket = "public"+g' wrangler.toml
        sed -i 's+zone_id = ""+zone_id = '"'"$ZONE_ID"'"'+g' wrangler.toml
        sed -i 's+workers_dev = true++g' wrangler.toml
        echo "[env.production]" >> wrangler.toml
        echo "route = 'flotiq.com/blog/*'" >> wrangler.toml        
        echo 'zone_id = '"'"$ZONE_ID"'" >> wrangler.toml
        mkdir -p /home/runner/.wrangler/config/
        echo api_token = '"'"$API_TOKEN"'"' > /home/runner/.wrangler/config/default.toml
        cat wrangler.toml
        wrangler publish --env=production
      shell: bash
      env:
        API_TOKEN: ${{ secrets.API_TOKEN }}
        ACCOUNT_ID: ${{ secrets.ACCOUNT_ID }}
        ZONE_ID: ${{ secrets.ZONE_ID }}
